@font-face {
    font-family: 'windsor_BT';
    src:
         url('fonts/Windsor_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'windsorbq_light';
  src:
       url('fonts/windsorbq-light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'WindsorOpti-LightCondensed';
    src:
         url('fonts/WindsorOpti-LightCondensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'sofiaProLight';
  src:
       url('fonts/SofiaProLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofiaProUltraLight';
  src:
       url('fonts/SofiaProUltraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sticky-top {
  position: sticky;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 120px;
}
.sticky-top img {
  border-radius: 50%;
}
body { 
  margin: 0;
}
* {box-sizing: border-box;}

.home {
  background-color: #F1F2F2;
}

.chantrellepage {
  background-color: #EADBD2;
}


main {
  height: 100vh;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin-bottom: 5px;
}

a {
	text-decoration: none;
}

a:visited {
 color: #352F31;
}

a.nav li{
 color:#352F31;
}

.homepage img { 
  max-width: 100%; 
  max-height: 800px;
}

.boletemain img { 
  margin-left: 150px;

}

.hedgehogmain img {
  max-width: 100%; 
  max-height: 412px;
}

ul {
  padding-inline-start: 0px;
}

nav ul{
	list-style-type: none;
	}

nav{ 
	text-align: center;
	width: 100%;
	background-color: transparent;
	}

nav li{
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 60px;
	padding: 10px;
  font-family: "sofiaProLight", proxima-nova;
  font-size: 17px;
	font-style: normal;	
	color: white;
	box-sizing: border-box;
}

.home h1{
  font-family: "windsor_BT";
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
}

.home h2{
 font-family: "sofiaProUltraLight";
 font-size: 35px;
 text-align: center;
 padding: 0px 10px 10px 10px;
 margin-top: 0px;
}


.homepage-layer { 
  width: 50%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
   }

.homepage-layer .one { /* shapes */
  align-items: center;
  justify-content: center;
}

.homepage-layer .two { 
  position: absolute;
  top: 0;
}

.home h1{
	color:#352F31;
	font-size: 8vw;
	font-weight: 600px;
	padding-top: 30px;
	padding: 20px 20px 20px 20px;
	min-width: 500px;
	text-align: center;
}

.home-img{
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	background-position: 50% -90px;
	margin-top: 40px;
	margin-bottom: 60px;
	min-width: 100%;
}

body {
    margin: 0;
  }

  p {
    font-family: "sofiaProLight";
    padding: 1px 10px;
    font-size: 16px;
    text-align: justify;
  }


.grid-1 {
  display: flex;
  width: 80%;
  margin: auto;
}

.grid-1 div {
  flex: 1;
}

.bolete-layer{
  position: relative;
}

.bolete-layer .two {
  position: absolute;
  top: 0;
  right:200px;
}

.bolete-layer .three {
  position: absolute;
  top: 160px;
  right: 190px; 
}

.boletes {
  top: 170px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 45px;
  font-family: 'windsor_BT';
  padding: 12px 28px;
  margin: 0;
}

.grid-2 {
  display: flex;
  width: 80%;
  margin: auto;
}

.grid-2 div {
  flex: 1;
}

.chanterelle-layer img  {
  width: 100%;
  padding: 80px;
}
.chanterelle-layer{
  position: relative;
}

.chanterelle-layer .one {
  margin-left: -80px;
}

.chanterelle-layer .two {
  position: absolute;
  top: 0;
  
}
.chanterelle-layer .three {
  position: absolute;
  top: 220px;
  right: 90px;
}

.chanterelle-content {
  padding-top: 60px;
}

.chanterelles  {
    top: 170px;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 45px;
    font-family: 'windsor_BT';
    padding: 12px 5px;
    margin: 0;
 }

 .cantharellus {
   padding: 5px 5px 20px 5px;
   font-family: 'WindsorOpti-LightCondensed' 
 }

 .grid-3 {
  display: flex;
  width: 80%;
  margin: auto;
}

.grid-3 div {
  flex: 1;
}
.hedgehog-layer{
  position: relative;
}

.hedgehog-layer .two {
  position: absolute;
  top: 0;
  left:200px;
}

.hedgehog-layer .three {
  position: absolute;
  top: 100px;
  left:0;
}

.hedgehogs {
  top: 170px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 45px;
  font-family: 'windsor_BT';
  padding: 12px 28px;
  margin: 0;
}

.hyndum {
  font-size: 30px;
  font-family: 'windsor_BT';
}


.grid-4 {
  display: flex;
  width: 80%;
  margin: auto;
}

.grid-4 div {
  flex: 1;
}

.morel-layer{
  position: relative;
}

.morel-layer .two {
  position: absolute;
  top: 250px;
  left:50px;
}
.morel-layer .three {
  position: absolute;
  top: 120px;
  left: 30px;
}

.morels {
  top: 170px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 45px;
  font-family: 'windsor'
  padding: 12px 28px;
  margin: 0;
}




