/* -------------------------------------- *
General Styles
* --------------------------------------- */
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
body {
  margin: 0;
  font-family: "Raleway", Impact;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
}
header {
  border: 1px solid black;
  background-image: url(../images/banners/annie-spratt-unsplash.jpg);
  background-size: cover;
  height: 260px;
  background-position: 20% 10%;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}
.inspiro-img {
  width: 400px;
}

.three-col {
  display: flex;
}

.three-col article {
  flex: 1;
  padding: 10px;
}

.three-col .description {
  flex-grow: 2;
}